// Access to Housing custom color scheme for just-the-docs

$link-color: #3b82f6;
$btn-primary-color: #3b82f6;
$body-heading-color: #0f172a;
$body-text-color: #334155;
$nav-child-link-color: #475569;
$search-result-preview-color: #64748b;
$code-background-color: #f8fafc;
$sidebar-color: #f8fafc;
$border-color: #e2e8f0;
$table-background-color: #ffffff;
$search-background-color: #ffffff;
$feedback-color: darken($link-color, 3%);
